.add-animal-form {
  .add-btn-wrap {
    display: flex;
    justify-content: flex-end;
    .btn {
      margin: 0;
    }
  }
}

.btn-wrap {
  margin-top: 1em;
  display: block;
  @media (#{$bp-larger-than-tablet}) {
    display: flex;
  }
}

.add {
  margin-right: 1rem !important;
}

.btn {
  color: #777;
  text-decoration:none;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 100%;
  font-weight: bold;
  padding: 7px 0;
  border-radius: 0;
  border: 0;
  position: relative;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  margin: 0 0 .7rem 0;
  -webkit-transition:0.3s ease all;
  -o-transition:0.3s ease all;
  transition:0.3s ease all;
  background-color: white;
  @media (#{$bp-larger-than-tablet}) {
    margin-right: 1rem;
    width: 10rem;
  }
  &:hover {
    color: #000000a3;
    -moz-transform: translateY(-5%);
    -ms-transform: translateY(-5%);
    -webkit-transform: translateY(-5%);
    transform: translateY(-5%);
  }
  a {
    color: #777;
    -webkit-transition:0.3s ease all;
    -o-transition:0.3s ease all;
    transition:0.3s ease all;
    &:hover {
      -moz-transform: translateY(-5%);
      -ms-transform: translateY(-5%);
      -webkit-transform: translateY(-5%);
      transform: translateY(-5%);
      color: #000000a3;
    }
  }

}

.chk-wrap {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 1.2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.chk-wrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color:#fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.chk-wrap:hover input ~ .checkmark {
  background-color: #eee;
}

.chk-wrap input:checked ~ .checkmark {
  background-color: #45ae01;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.chk-wrap input:checked ~ .checkmark:after {
  display: block;
}

.chk-wrap .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
