form {
  background-color: #eeeeee99;
  padding: 2em;
  text-align: left;
  $headingSize: 1.6em;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #80808000;
  .intro {
    margin-bottom: 2em;
  }

  h1 {
    text-align: center;
    font-size: $headingSize;
    margin-bottom: 0.6em;
  }

  h2 {
    text-align: center;
    font-size: $headingSize / 1.3;
  }

  .date-validation {
    color: $red;
    font-weight: bold;
  }

  .DayPickerInput {
    display: block;
    margin-top: 1em;
    input {
      width: 100%;
      height: 45px;
      margin-bottom: 1em;
      font-size: .9em;
      color: $colorInputText;
      font-weight: 300;
      padding: .5em 1em;
      border: none;
      min-width: 100%;
      max-width: 100%;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
      font-family: 'Source Sans Pro', sans-serif;
    }
  }
  .maintenance {
    margin: 0 0 10px 0;
  }
}

input[type=text] {
  height: 45px;
}
textarea {
  height: 120px;
}

input[type=text],
textarea,
input {
  width: 100%;
  height: 45px;
  margin-bottom: 1em;
  font-size: .9em;
  color: $colorInputText;
  font-weight: 300;
  padding: .5em 1em;
  border: none;
  min-width: 100%;
  max-width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

input[type=button] {
  cursor: pointer;
  margin: 0;
  padding: .5em 2em;
  background: #636363;
  border: none;
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
}

input.name {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
}

textarea.desc {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  min-height: 10rem;
}
