$dark: #333745;
$blue: #6699ff;
$light: #f6f6f6;
$red: #c90000;
$colorBase1: #f3efe7;
$colorInputText: black;

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;

$bp-larger-than-tablet: "min-width: 768px" !default;
